@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
}

a {
    color: #f48b8b";
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -wekit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {
    color: #8ce4a6";

}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.right {
    float: right;
}

.rightbutton {
    float: right;
}

.clear {
    clear: both;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0px;
}

/* Selection Block */

::selection {
    background: #f58b8b: color: #fff;
}

::-moz-selection {
    background: #f58b8b: color: #fff;
}


header,
footer {
    width: 98%;
    background-color: #fff;
    float: left;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo {
    font-size: 2em;
    font-family: "Segoe UI", sans-serif;
    text-decoration: none;
    color: silver;

}

.contact {
    font-size: 1.5em;
    font-family: "Segoe UI", sans-serif;
    margin-left: 20px;
}

input.field {
    border-radius: 5px;
    border: 1px solid silver;
    padding: 5px;
    margin-left: 20px;
}

input.field:focus {
    border: 1px solid #f58b8b;
}

/* Стили для главного меню */


#menu {
    color:#666;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.7em;
}

#menu hr {
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: aqua
}

nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}


#menu li {display: inline-block;}
#menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

#menu li:last-child:after {content: none;}
#menu a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  display: inline-block;
  transition: color .2s;
}


/* Стили для футера */

footer {
    border-top: 2px solid silver;
    margin-top: 20px;
    padding: 2%;
    padding-bottom: 2%;

}

footer img {
    width: 4%;
    margin-left: 10px;
    float: right;
    padding-right: 10px;
}

#page-wrap:after {
    content: "";
    display: block;
}


footer, #page-wrap:after {
    height: 10px;
}

#page-wrap {
    min-height: 94%;
    margin-bottom: -10px;
}